{% extends 'base.html' %}

{% block content %}
<script>
    function getSelectedOptgroupAndOption(name) {
        var selected = document.querySelector("select[name=" + name + "] option:checked")
        var optgroup = selected.parentElement.label
        var option = selected.label
        var options = null;
        if (optgroup !== "None") {
            options = [optgroup, option]
        }
        return options;
    }

    function getSelectedOption(name) {
        var selected = document.querySelector("select[name=" + name + "] option:checked")
        var option = null;
        if (selected.label !== "None") {
            option = selected.label;
        }
        return option;
    }

    function generateBody() {
        var form = document.getElementById("api-example");
        var object_type = getSelectedOption("object_type");
        var geo = getSelectedOptgroupAndOption("city");
        var state = null;
        var city = null;
        if (geo != null && geo.length === 2) {
            state = geo[0];
            city = geo[1];
        }
        var price_min = null;
        if (parseFloat(form.querySelector('input[name="price_min"]').value) >= 0) {
            price_min = parseFloat(form.querySelector('input[name="price_min"]').value);
        }
        var price_max = null;
        if (parseFloat(form.querySelector('input[name="price_max"]').value) >= 0) {
            price_max = parseFloat(form.querySelector('input[name="price_max"]').value);
        }
        var sort_by_options = getSelectedOptgroupAndOption("sort_by");
        var sort_by = "house_url";
        var sort_asc = true;
        if (sort_by_options != null && sort_by_options.length === 2) {
            sort_by = sort_by_options[0];
            sort_asc = (sort_by_options[1] === "asc");
        }
        var body = {
            object_type: object_type,
            state: state,
            city: city,
            purchase_price: [price_min, price_max],
            sort_by: sort_by,
            sort_asc: sort_asc
        };
        document.querySelector('kbd').textContent = JSON.stringify(body);

        var url = "/queryHouses";

        var xhr = new XMLHttpRequest();
        xhr.open("POST", url);

        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                var response = JSON.parse(decodeURI(xhr.responseText));
                console.log(xhr.response)
                document.querySelector('samp').textContent = JSON.stringify(response, null, "\t");
            } else {
                document.querySelector('samp').textContent = xhr.statusText;
            }
        };

        xhr.send(JSON.stringify(body));
    }
</script>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <aside class="is-medium menu">
                    <p class="menu-label">Endpoints</p>
                    <ul class="menu-list">
                        <li class="is-right">
                            <a href="#method" class="is-active"><i
                                    class="fab fa-solid fa-magnifying-glass-location"></i> queryHouses</a>
                        </li>
                        <li class="is-right">
                            <a href="/endpoints/scrapeHouses" class="is-active"><i
                                    class="fab fa-solid fa-spider-web"></i> scrapeHouses</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <div class="content is-medium">
                    <div class="box">
                        <h4 id="method" class="title is-3">/queryHouse [POST]</h4>
                        <article class="message is-primary">
                            <span class="icon has-text-primary"><i class="fab fa-solid fa-code"></i></span>
                            <div class="message-body">Structure of request's body</div>
                        </article>
                        <pre class="language-javascript"><code class="language-javascript">body = {
    "object_type": <var>object_type</var>,
    "purchase_price": <var>purchase_price</var>,
    "state": <var>state</var>,
    "city": <var>city</var>,
    "sort_by": <var>sort_by</var>,
    "sort_asc": <var>sort_asc</var>
}</code></pre>
                    </div>
                    <div class="box">
                        <h4 id="fields" class="title is-3">Fields</h4>
                        <article class="message is-primary">
                            <span class="icon has-text-primary"><i class="fas fa-info-circle"></i></span>
                            <div class="message-body">List of fields.</div>
                        </article>
                        <pre class="language-javascript"><code class="language-javascript"><var>object_type</var>: [str] Object type in uppercase.
<var>purchase_price</var>: [[float, float]] Purchase array with min and max values.
<var>state</var>: Object type in uppercase.
<var>city</var>: Object type in uppercase.
<var>sort_by</var>: [str] Sort by field (object_type|purchase_price|house_id). {Default: house_id}
<var>sort_asc</var>: [bool] Sort ASC (true/false). {Default: True}</code></pre>
                    </div>
                    <div class="box">
                        <h4 id="try-it" class="title is-3">Sandbox</h4>
                        <article class="message is-primary">
                            <span class="icon has-text-primary"><i class="fas fa-solid fa-play"></i></span>
                            <div class="message-body">Complete the info below and try it.</div>
                        </article>

                        <div id="api-example">
                            <div class="field">
                                <div class="navbar-start">
                                    <div class="navbar-item has-dropdown is-hoverable">
                                        <a class="navbar-link">Select a City (Stadt):</a>
                                        <div class="navbar-dropdown is-boxed">
                                            <select name="city" id="city">
                                                <optgroup class="navbar-item" label="None">
                                                    <option class="navbar-item" value="None" selected>None</option>
                                                </optgroup>
                                                <hr class="navbar-divider">
                                                {{cities}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="field">
                                <div class="navbar-start">
                                    <div class="navbar-item has-dropdown is-hoverable">
                                        <a class="navbar-link">Select an Object Type (Objekttyp):</a>
                                        <div class="navbar-dropdown is-boxed">
                                            <select name="object_type" id="object_type">
                                                <optgroup class="navbar-item" label="None">
                                                    <option class="navbar-item" value="None" selected>None</option>
                                                </optgroup>
                                                <hr class="navbar-divider">
                                                {{object_types}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="text" name="price_min"
                                           placeholder="Purchase Price: Min">
                                </div>
                            </div>
                            <br>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="text" name="price_max"
                                           placeholder="Purchase Price: Max">
                                </div>
                            </div>
                            <br>

                            <div class="field">
                                <div class="navbar-start">
                                    <div class="navbar-item has-dropdown is-hoverable">
                                        <a class="navbar-link">Sort by:</a>
                                        <div class="navbar-dropdown is-boxed">
                                            <select name="sort_by" id="sort_by">
                                                <optgroup class="navbar-item" value="house_url" label="House ID">
                                                    <option class="navbar-item" value="asc" selected>asc</option>
                                                    <option class="navbar-item" value="desc">desc</option>
                                                </optgroup>
                                                <hr class="navbar-divider">
                                                <optgroup class="navbar-item" value="object_type"
                                                          label="Object Type (Objekttyp)">
                                                    <option class="navbar-item" value="asc">asc</option>
                                                    <option class="navbar-item" value="desc">desc</option>
                                                </optgroup>
                                                <optgroup class="navbar-item" value="purchase_price"
                                                          label="Purchase Price">
                                                    <option class="navbar-item" value="asc">asc</option>
                                                    <option class="navbar-item" value="desc">desc</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <input class="button is-block is-primary is-fullwidth is-medium" type="submit"
                                   value="Try it!" onclick="generateBody()"><br>
                        </div>
                        <br>

                        <div id="results">
                            <h4>Generated body given selected attributes:</h4>
                            <pre class="language-javascript"><kbd id="form-output" class="language-javascript">...</kbd></pre>
                            <br><br>
                            <h4>API POST response to request using generated body:</h4>
                            <pre class="language-javascript"><samp id="post-output"
                                                                   class="language-javascript">...</samp></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}